<div>
    <div> <h1>Employee Request Form</h1></div>
    <form [formGroup]="formData" (ngSubmit)="onSubmit(formData)">
        <div>
            <input type="text" class="element" name="id" formControlName="id" placeholder="Employee id" />

            <input type="text" class="element" name="name" formControlName="name" placeholder="Employee name" />

            <input type="text" class="element" name="address" formControlName="address" placeholder="Employee address" />

        </div>
        <div>

            <input type="text" class="element" name="account" formControlName="account" placeholder="Employee account" />

            <input type="text" class="element" name="manager" formControlName="manager" placeholder="Employee manager" />

            <button type="submit" class="element" >Submit</button>
        </div>
    </form>
</div>

<div>


    <table id="table">

        <tr>
            <th>id</th>
            <th>name</th>
            <th>address</th>
            <th>account</th>
            <th>manager</th>
            <th>requestId</th>
            <th>status</th>
        </tr>

        <tbody *ngFor="let r of data$ | async">

            <tr>

                <td>{{r.id}}</td>
                <td>{{r.name}}</td>
                <td>{{r.address}}</td>
                <td>{{r.account}}</td>
                <td>{{r.manager}}</td>
                <td>{{r.requestId}}</td>
                <td>{{r.status}}</td>

            </tr>
        </tbody>


    </table>

</div>